# Frontend
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_API_BASE_URL=

# Backend
ASPNETCORE_URLS=
MONGODB_URI=
MONGODB_DB=
MONGODB_COLLECTION=
SUPABASE_PG_HOST=
SUPABASE_PG_DB=
SUPABASE_PG_USER=
SUPABASE_PG_PASS=
SUPABASE_PG_PORT=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
OPENFOODFACTS_API_BASE=
SEED=true
