ASPNETCORE_URLS=http://0.0.0.0:5000

MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net
MONGODB_DB=nutriscan
MONGODB_COLLECTION=products

SUPABASE_PG_HOST=YOUR_PG_HOST.supabase.co
SUPABASE_PG_DB=postgres
SUPABASE_PG_USER=postgres
SUPABASE_PG_PASS=YOUR_POSTGRES_PASSWORD
SUPABASE_PG_PORT=6543

SUPABASE_URL=https://YOUR-PROJECT.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY

OPENFOODFACTS_API_BASE=https://world.openfoodfacts.org/api/v2/product/
SEED=true
